#container {
  display: flex;
  width: 50%;
  top: 20%;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  height: 50%;
  border: 1px solid white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px ;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}


#titre {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
}

#sorting-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute 
  height: 100%;
  width: 100%;
}


@media (max-width: 360px){
  #titre{
    font-size: 20px;
    position: absolute;
    left : 10%;

  }
  #sorting-panel{
    border: 5px solid white;
    width:50%;
  }
  #container{
    height: 30%;
    left: 10%;
  }
  #bottom-box{
    border: 5px solid white;
  }
} 

#top-box {
  max-width: 40%;
  top: 15%;
  position: relative;  
  align-items: center;
  background-color: #9cc4b2;
  border-radius: 15px ;
  justify-content: center;
  border-radius: 29px;
  border: 2px solid red;
  background: linear-gradient(145deg, #1f556e, #1a475d);
  box-shadow:  18px 18px 36px #173f52,
             -18px -18px 36px #235f7c;
}

.sliders {
  position: relative;
  margin: auto;
  height : 50%;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  width: 70%;
}

#bottom-box {
  align-items: justify;
  display: flex;
  justify-content: space-around;
  top: 75%;
  width: 50%;
  height: 10%;
  display: flex;
  background-color: #9cc4b2;
  position: absolute;
  border-radius: 29px;
  background: linear-gradient(145deg, #1f556e, #1a475d);
  box-shadow:  18px 18px 36px #173f52,
             -18px -18px 36px #235f7c;
}

#arr_sz, #time_slider{
  width: 30%;
}



#size {
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
}

#speed {
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
}

.bar {
  flex : 1;
  background-color: rgba(255, 255, 255, 0.411); /* chosen by Massilya*/
  display: inline-flex;
  width: 10px;
  align-self: flex-end;
  margin: 0 1px;
  border: red;
}

.sortedbar {
  width: 10px;
  background-color: green; /* chosen by Massilya*/
  display: inline-block;
  margin: 0 1px;
  border: red;
}

:root {
  --bg-color: #0f1923;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  /*background-color: var(--bg-color);*/
  /*teal : 14FFEC */
  background: radial-gradient(circle at 0% 8%, rgba(0, 74, 115, 1) 0%, rgba(0, 17, 73, 1) 100%);
}



.btn {
  flex:1;
  appearance: none;
  background-color: #096289;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  margin: 1px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 100%;
  will-change: transform;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}
