.array-container{
    position : absolute;
    left:100px;
    right : 100px;
}

.array-bar{
    width: 2px;
    background-color: white; /* chosen by Massilya*/
    display : inline-block;
    margin : 0 1px;
}

:root{
    --bg-color : #0f1923;

}

body{
    height: 100vh;
    margin: 0;
    display : grid;
    background-color: var(--bg-color);
}

.btn{
    --text-color: var(--bg-color);
    --text-color: var(--bg-color);
}

/* media queries*/