.array-container{
    position : absolute;
    left:100px;
    right : 100px;
}

.array-bar{
    width: 2px;
    background-color: teal; /* chosen by Massilya*/
    display : inline-block;
    margin : 0 1px;
}

.bubble-button{
    color : blue;
    position: absolute;
    background-color: aqua;
}